<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<%= render :partial => @articles %>

<br>

<div class="apple_pagination">
	<div>
	<%= will_paginate @articles, :container => false %>
  </div>
</div>


