
<p>
  <%= comment.commenter %>
</p>
<p>
  <%= comment.content %>
</p>

<%= link_to "Edit", edit_article_comment_path(comment.article, comment) %> |
<%= link_to "Delete", [comment.article, comment], :method => :delete, :data => { :confirm => "Are you sure?"} %>
